- hosts: all[0]
  tasks:
    - name: Vars
      include_vars:
        file: "vars.yaml"

    - name: Job vars
      include_vars:
        file: "{{ item }}"
      loop: "{{ vars_files }}"

    - name: Promote images
      include_role:
        name: promote-container-image
      vars:
        container_images: "{{ [requirements_image] + openstack_images }}"
