docker_daemon:
  group: zuul
  registry-mirrors:
    - "http://{{ zuul_site_mirror_fqdn }}:8082/"
  storage-driver: overlay2
  debug: True
  insecure-registries:
    - 172.17.0.1:5000

# Setting reuse_requirements to True will use the most recent
# requirements build from the gate registry. This can save bandwidth
# and time. However, it introduces a gate race condition if a change
# is posted that updates requirements. We set to false to prefer
# correctness to speed.
reuse_requirements: False

# Override Zuul inference of source directory from project name to always
# use "loci".
loci_src_dir: "src/opendev.org/openstack/loci"

distros:
  - name: centos
    image: centos:7
    release: master
    buildargs:
      base:
        PACKAGE_MIRROR: "{{ zuul_site_mirror_fqdn }}"
        PIP_INDEX_URL: http://{{ zuul_site_mirror_fqdn }}/pypi/simple
        PIP_TRUSTED_HOST: "{{ zuul_site_mirror_fqdn }}"
      project:
        PROJECT: "{{ project }}"
        PROJECT_REPO: http://172.17.0.1/git/openstack/{{ project }}
        WHEELS: 172.17.0.1:5000/loci/requirements:master-centos
        FROM: base:centos
        PYTHON3: yes
      requirements:
        PROJECT: requirements
        PROJECT_REPO: http://172.17.0.1/git/openstack/requirements
        FROM: base:centos
        PYTHON3: yes
  - name: ubuntu_bionic
    image: ubuntu:bionic
    release: master
    buildargs:
      base:
        UBUNTU_URL: http://{{ zuul_site_mirror_fqdn }}/ubuntu/
        CLOUD_ARCHIVE_URL: http://{{ zuul_site_mirror_fqdn }}/ubuntu-cloud-archive/
        CEPH_URL: http://{{ zuul_site_mirror_fqdn }}/ceph-deb-nautilus/
        ALLOW_UNAUTHENTICATED: "true"
        PIP_INDEX_URL: http://{{ zuul_site_mirror_fqdn }}/pypi/simple
        PIP_TRUSTED_HOST: "{{ zuul_site_mirror_fqdn }}"
      project:
        PROJECT: "{{ project }}"
        PROJECT_REPO: http://172.17.0.1/git/openstack/{{ project }}
        WHEELS: 172.17.0.1:5000/loci/requirements:master-ubuntu_bionic
        FROM: base:ubuntu_bionic
        PYTHON3: yes
      requirements:
        PROJECT: requirements
        PROJECT_REPO: http://172.17.0.1/git/openstack/requirements
        FROM: base:ubuntu_bionic
        PYTHON3: yes
  - name: ubuntu_xenial
    image: ubuntu:xenial
    release: ocata
    buildargs:
      base:
        UBUNTU_URL: http://{{ zuul_site_mirror_fqdn }}/ubuntu/
        CLOUD_ARCHIVE_URL: http://{{ zuul_site_mirror_fqdn }}/ubuntu-cloud-archive/
        ALLOW_UNAUTHENTICATED: "true"
        PIP_INDEX_URL: http://{{ zuul_site_mirror_fqdn }}/pypi/simple
        PIP_TRUSTED_HOST: "{{ zuul_site_mirror_fqdn }}"
      project:
        PROJECT: "{{ project }}"
        PROJECT_REPO: http://172.17.0.1/git/openstack/{{ project }}
        PROJECT_REF: "{% if eol is defined and 'ocata' in eol %}ocata-eol{% else %}stable/ocata{% endif %}"
        PROJECT_RELEASE: "ocata"
        WHEELS: 172.17.0.1:5000/loci/requirements:ocata-ubuntu_xenial
        FROM: base:ubuntu_xenial
      requirements:
        PROJECT: requirements
        PROJECT_REPO: http://172.17.0.1/git/openstack/requirements
        PROJECT_REF: "stable/ocata"
        PROJECT_RELEASE: "ocata"
        FROM: base:ubuntu_xenial
  - name: leap15
    release: master
    buildargs:
      base:
        PACKAGE_MIRROR: "http://{{ zuul_site_mirror_fqdn }}/opensuse/"
        PIP_INDEX_URL: http://{{ zuul_site_mirror_fqdn }}/pypi/simple
        PIP_TRUSTED_HOST: "{{ zuul_site_mirror_fqdn }}"
      project:
        PROJECT: "{{ project }}"
        PROJECT_REPO: http://172.17.0.1/git/openstack/{{ project }}
        WHEELS: 172.17.0.1:5000/loci/requirements:master-leap15
        FROM: base:leap15
        PYTHON3: yes
      requirements:
        PROJECT: requirements
        PROJECT_REPO: http://172.17.0.1/git/openstack/requirements
        FROM: base:leap15
        PYTHON3: yes
#  - name: debian
#    image: debian:stretch
#    buildargs:
#      base:
#        DEBIAN_URL: http://{{ zuul_site_mirror_fqdn }}/debian/
#        DEBIAN_SECURITY_URL: http://{{ zuul_site_mirror_fqdn }}/debian/
#        DEBIAN_SECURITY_DISTRIBUTION: stretch-security
#        CEPH_URL: http://{{ zuul_site_mirror_fqdn }}/ceph-deb-luminous/
#        ALLOW_UNAUTHENTICATED: "true"
#        PIP_INDEX_URL: http://{{ zuul_site_mirror_fqdn }}/pypi/simple
#        PIP_TRUSTED_HOST: "{{ zuul_site_mirror_fqdn }}"
#      project:
#        PROJECT: "{{ project }}"
#        PROJECT_REPO: http://172.17.0.1/git/openstack/{{ project }}
#        PROJECT_REF: "{{ project_reference }}"
#        WHEELS: 172.17.0.1:5000/loci/requirements:master-debian
#        FROM: base:debian
#      requirements:
#        PROJECT: requirements
#        PROJECT_REPO: http://172.17.0.1/git/openstack/requirements
#        FROM: base:debian
